<div>
  <h2>Ученик</h2>

  <div class="card col-md-6 mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ currentStudent?.name }}</h5>
      <p class="card-text">ЕГН: {{ currentStudent?.egn }}</p>
      <p class="card-text">Имейл: {{ userInfo?.email }}</p>
    </div>
  </div>
  <br />
  <h2>Оценки</h2>
  <table class="table m-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Предмет</th>
        <th scope="col">Оценка</th>
        <th scope="col">Отсъствия</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td></td>
<!--        <td>{{ mark.termsSubject.subject.name }}</td>-->
<!--        <td>{{ mark.mark }}</td>-->
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
