<div class="container">
  <h2>School Details</h2>
  <!-- <button class="btn btn-primary" [routerLink]="['/admin/term-add/', id]">
    Add Term
  </button> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ school?.id }}</td>
        <td>{{ school?.name }}</td>
        <td>{{ school?.address }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Principal Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ principal?.id }}</td>
        <td>{{ principal?.name }}</td>
        <td>{{ principal?.email }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" [routerLink]="['/admin/class-add/', id]">
    Create Class
  </button>

  <div class="">
    <h2>School Classes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schoolClass of schoolClasses">
          <td>{{ schoolClass.name }}</td>
          <button
            class="btn btn-secondary text-black"
            [routerLink]="['/admin/class-view', schoolClass.id]"
          >
            View
          </button>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <h2>Term Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Subjects</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let term of terms">
        <td>{{ term.name }}</td>
        <td>{{ term.abbreviation }}</td>
        <td>
          <ul>
            <li *ngFor="let subject of term.subjects">
              {{ subject.name }} ({{ subject.abbreviation }})
            </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-primary" (click)="addSubjectToTerm(term)">Add Subject</button>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
