<sub-navbar></sub-navbar>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>School List</h2>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" [routerLink]="['/admin/school-add']">
        Add School
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div *ngFor="let school of schools" class="card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3 text-center">{{ school.name }}</h5>
            <p class="card-text">
              <strong>Address:</strong> {{ school.address }}
            </p>
            <p class="card-text">
              <!-- <strong>Principal:</strong> {{ school.principal.name }} -->
            </p>
            <button
              class="btn btn-secondary"
              [routerLink]="['/admin/school-view', school.id]"
            >
              View
            </button>
            &nbsp;&nbsp;
            <button
              class="btn btn-primary"
              [routerLink]="['/admin/school-edit', school.id]"
            >
              Edit
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" (click)="deleteSchool(school.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
