<sub-navbar></sub-navbar>

<div class="container pt-3">
  <div class="row">
    <div class="col-md-12">
      <h2>User List</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles.join(', ') }}</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/admin/user-edit', user.id]">Edit</button> &nbsp;
              <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
